{% extends 'hospital/base.html' %}
{% load static %}
{% block hero %}
{% comment %} <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner w-100">
      
      <div class="carousel-item">
        <img src="{% static 'hospital/images/hero1.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'hospital/images/bg.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  </div> {% endcomment %}
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'hospital/images/hero1.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'hospital/images/bg.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'hospital/images/hero1.png' %}" class="d-block w-100" alt="...">
      </div>
    </div>


{% endblock hero %}

{% block content %}
<section class="services" id="services">
  <div class="text-center p-3 pt-4">
    <h3>Our Key Features</h3>
    <p>Take a look at some of our key features</p>
  </div>
  
  <div class="serviceFeature row justify-content-center">
    <div class="col-md-4 col-lg-3 mb-4">
      <div class="card text-center p-3 shadow">
        <div class="card-body">
          <i class="fa-solid fa-heart-pulse"></i>
          <h6 class="card-title">Cardiology</h6>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 col-lg-3 mb-4">
      <div class="card text-center p-3 shadow">
        <div class="card-body">
          <i class="fa-solid fa-ribbon"></i>
          <h6 class="card-title">Orthopaedic</h6>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 col-lg-3 mb-4">
      <div class="card text-center p-3 shadow">
        <div class="card-body">
          <i class="fa-solid fa-brain"></i>
          <h6 class="card-title">Neurologist</h6>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 col-lg-3 mb-4">
      <div class="card text-center p-3 shadow">
        <div class="card-body">
          <i class="fa-solid fa-tablets"></i>
          <h6 class="card-title">Pharma Pipeline</h6>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 col-lg-3 mb-4">
      <div class="card text-center p-3 shadow">
        <div class="card-body">
          <i class="fa-solid fa-prescription-bottle-medical"></i>
          <h6 class="card-title">Pharma Team</h6>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 col-lg-3 mb-4">
      <div class="card text-center p-3 shadow">
        <div class="card-body">
          <i class="fa-solid fa-thumbs-up"></i>
          <h6 class="card-title">High Quality Treatment</h6>
        </div>
      </div>
    </div>
  </div>
</section>
</section>

<section class="contact" id="contact">
  <div class="container">
    <h2 class="text-center p-4">Reach out to us 24/7</h2>

    <div class="row">
      <!-- Contact Form Card -->
      <div class="col-md-6">
        <div class="card shadow-sm">
          <div class="card-body">
            <form action="" method="post">
              {% csrf_token %}
              <div class="mb-3">
                {% for frm in frm_unbound %}
                <div class="mb-3">
                  <label for="{{ frm.id_for_label }}" class="form-label">{{ frm.label }}:</label>
                  <div>{{ frm }}</div>
                </div>
                {% endfor %}
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-primary">
                  Send <i class="fa-solid fa-paper-plane"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
</section>

{% endblock content %}

{% block script %}

<script>
  const newData = [];

  async function ApiCall() {
    try {
      let response = await fetch('http://127.0.0.1:8000/gallery/');
      let data = await response.json();
      return data;
    } catch (error) {
      console.error('Error:', error);
      return [];
    }
  }

  async function initialize() {
    try {
      const data = await ApiCall();
      newData.push(...data);
     
    } catch (error) {
      console.error('Error:', error);
    }
  }

  // Call initialize only once
  initialize();

  document.getElementById('AllClickBtn').addEventListener('click', () => {
    clearGallery();
    const filteredData = newData.slice(0,10).map((a) => ShowData(a));

    
  });

  document.getElementById('DentalClickBtn').addEventListener('click', () => {
    const filteredData = newData.filter((item) => item.category === 'Dental');
    clearGallery();
    filteredData.map((a) => ShowData(a));
    
  });

  document.getElementById('NeurologyClickBtn').addEventListener('click', () => {
    const filteredData = newData.filter((item) => item.category === 'Neurology');
    clearGallery();
    filteredData.map(a=>ShowData(a))
    console.log(filteredData);
  });

  document.getElementById('CardiologyClickBtn').addEventListener('click', () => {
    const filteredData = newData.filter((item) => item.category === 'Cardiology');
    clearGallery();
    filteredData.map(a=>ShowData(a))
   
  });

  document.getElementById('LaboratyClickBtn').addEventListener('click', () => {
    const filteredData = newData.filter((item) => item.category === 'Laboraty');
    clearGallery();
    filteredData.map(a=>ShowData(a))
    
  });
  window.addEventListener('load',()=>{
    const filteredData = newData.slice(0,10).map((a) => ShowData(a));
  })

  // Clear the gallery
  function clearGallery() {
    let gallaryImg = document.getElementById('gallaryImg');
    gallaryImg.innerHTML = '';
  }

  // Show Api Data
  function ShowData(a) {
    let img = document.createElement('img');
    img.src = a.images;
    let imgdiv = document.createElement('div');
    imgdiv.append(img);
    gallaryImg.append(imgdiv);
  }
</script>

{% endblock script %}
